/*semantic*/

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


/*eee*/

html {
    font-family: Roboto, GillSans, Calibri, Trebuchet, sans-serif;
  font-size: 100%;
}

/*.pusher * {
  font-size: 90%;
}*/

body {
  background: url("/images/timetable-bg.png") #290500;
}
.help-block {
    color: #d32f2f;
    font-variant-caps: all-small-caps;
}

*::-moz-placeholder {
    color: #d32f2f;
}


.ui.message:empty {
    display: none;
}

.alert:empty, .extra:empty {
    display: none;
}

.extra {
    font-size: 150%;
    font-weight: 900;
    clear:both;
}

/*select {
    display: inline;
}

strong {
    font-weight: 900;
}

ul.collapsible li.active div.collapsible-header {
background-color: #64b5f6 !important;
border-bottom: 1px solid #64b5f6;
}

ul.collapsible li div.collapsible-header {
border-bottom: 1px solid #fff;
 }

.collapsible {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin: 0.5rem 0 1rem 0;
}

label {
    font-size: 0.8rem;
    color: #666;
}

.collapsible-body input {
    border-bottom: 1px solid #fff;
}
ul.collapsible input[type=number] {
height: inherit;
margin:15px 5px 0;
text-align: center;
border-bottom:none;
}

label.error {
    font-size: 1.0rem;
    color: #d32f2f;
    margin-top:-20px;
}


.modal a.close-modal {
    z-index: 9999;
}

.modal {
    overflow-y: none;
    max-width: 400px;
}

.modal input {
    margin: 0;
}

.btn-floating i {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
}*/










.ui.secondary.inverted.pointing.menu {
    border: none;
}

td form {
    display: inline;
}


.ui.styled.accordion {
  width: 100%;
}

.ui.form .inline.fields .field {
  margin-left: 15px;
}

.ui.form input[type=number] {
  padding: 0.675em 0 .675em .675em;
  width: 10px;
  /*text-align: center;*/
}

.ui.small.modal {
  /*margin: auto;*/
  /*width: 50%;*/
    text-align: center;

}

.ui.modal>.actions {
  text-align: center;
}


@media only screen and (min-width: 768px){
  .ui.small.modal {
      width: 60.4%;
      margin: 0 0 0 -25.2%;

  }
}



@media only screen and (min-width: 768px){
  .ui.small.modal {
      width: 60.4%;
      margin: 0 0 0 -30.2%;
  }
}

@media only screen and (min-width: 1200px){
  .ui.small.modal {
      width: 500px;
      margin: 0 0 0 -260px;
  }
}
@media only screen and (min-width: 992px){
  .ui.small.modal {
      width: 500px;
      margin: 0 0 0 -260px;
  }
}

.ui.horizontal.divider {
  margin: 30px 0;
}

.ui.message {
  background: #32CD32;
}

.create-option.ui.button, .create-question.ui.button,
.delete-option.ui.button, .delete-question.ui.button {
  font-size: .3rem;
  margin-bottom:0px;
  padding:.3rem;
}

.ui.styled.accordion .question.container .title.active,
.ui.styled.accordion .question.container .content.active{
    background: #efefef;

}

.ui.accordion .title .dropdown.icon {
  font-size: 2rem;
}

/*.ui.inverted.segment.banner {
    background-image: url("/images/bg.jpg");
    background-color: #333;
}*/


.ui.form.striped div.ui.segment:nth-child(2n), .ui.form.striped>div.ui.segment:nth-child(2n) {
    background-color: rgba(0,0,50,.04);
}
.ui.form.striped div.ui.basic.segment {
    background-color: #fff;
}

.ui.button:not(.icon)>.icon:not(.button):not(.dropdown),
.ui.button>.icon:not(.button) {
  margin:0;
}



.ui.form .fields {
  margin: 0;
}

.ui.header {
  font-weight: normal;
}
.ui.huge.header {
  font-size: 7em;
  font-family: 'PT Mono', monospace;
  font-family: 'Roboto', monospace;
  /*font-family: 'Cutive Mono', monospace;*/
  /*font-family: 'Droid Sans Mono', monospace;*/
  font-weight: 300;
  text-shadow: 0 0 7px #000;
}

.ui.padded table td, .ui.padded table th, .grid p {
  font-size: 240%;
  font-family: 'Roboto', sans;
  font-weight: 300;
}
.bottom p, .ui.padded table td.arabic, .ui.padded table th.arabic, span.arabic {
  font-size: 220%;
  font-family: 'Changa', sans;
  font-weight: 300;
  text-align: right
}
.bottom p {
  font-size: 110%;
  text-align: center;
}
.ui.horizontal.divider {
  margin: 0 0 10px;
}

.ui.table td.warning, .ui.table tr.warning {
    box-shadow: 0 0 0 #C9BA9B inset;
    background: #767676!important;
    color: #FBBD08!important;
}



.ui.grid>.yellow.column, .ui.grid>.yellow.row {
    background-color: rgba(0,0,0,.15)!important;
    color: #FFF;
}

.ui.inverted.grey.segment {
    background-color: rgba(0,0,0,.25)!important;
    color: #FFF!important;
}

.ui.inverted.grey.table {
    background-color: rgba(0,0,0,.25)!important;
    color: #FFF!important;
}

.ui.table td.warning, .ui.table tr.warning {
    box-shadow: 0 0 0 #C9BA9B inset;
    background: rgba(0,0,0,.25)!important;
    color: #FBBD08!important;
}

.ui.grid>.grey.column {
    background-color: rgba(0,0,0,.25)!important;
    color: #FBBD08;
}
.ui.grid>.yellow.right.column, .ui.grid>.yellow.left.column {
    background-color: rgba(0,0,0,0)!important;
    color: #FBBD08;
}

.ui.inverted.segment>.ui.header, .ui.inverted.table th, .ui.inverted.table td,
.ui.grid>.yellow.column, .ui.grid>.yellow.row, .ui.inverted.grey.segment,
.ui.grey.header  {
  color: rgba(255,255,255,.75)!important;
}
p.ui.center.aligned.small.header {
  margin: 10px 0 0;
}

.ui.inverted.grey.segment p{
  font-size: 120%;
}

select.ui.dropdown {
  height: 2rem;

}
select.ui.dropdown,
.ui.form input[type=tel] {
  padding:.5rem;
  height: 2rem;
}

.ui.padded table tr.warning td {
    text-shadow: 0 0 5px #fff;
}
.ui.padded table thead th {
  border-bottom: 5px solid #fff;
  /*margin-bottom:2px;*/
}

.ui.small.header, 
h4.ui.header {
  padding-top: 0rem;
  font-variant: 'Roboto', sans;
  font-weight: 200;
}
/*span.arabic.float {
  color: rgba(255,255,255,.75);
  margin-bottom: -50px;
  position: absolute;
  display: block;
  top: 30px;
}*/

/*refresh*/
#refresh {
  z-index: 9999;
  display: block;
  position:fixed;
  top:-80px;
  left:0;
  width:100%;
  height:80px;
  background:none;
  font-weight: 300;
  font-size: 110%;
}
#refresh .fadein {
  height: 20px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0,0,0,.0), black); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(0,0,0,.0), black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(0,0,0,.0), black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(0,0,0,.0), black); /* Standard syntax */
}
#refresh .black {
  height: 40px;
  background: black;
  color: rgba(255,255,255,.75);
  vertical-align: middle;
  text-align: center;
  width: 100%;
  padding: 10px;
}
#refresh .fadeout {
  height: 20px;
  background: black; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black,rgba(0,0,0,.0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, rgba(0,0,0,.0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, rgba(0,0,0,.0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, rgba(0,0,0,.0)); /* Standard syntax */
}

