<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Timetable!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/reset.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/timetable.css") %>">

    <!--<link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">-->

  </head>

  <body>
    <div class="container-main">

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/jquery.slim.min.js") %>"></script>
    <!--<script src="<%= static_path(@conn, "/js/moment.js") %>"></script>-->
    <!--<script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>-->
    <script src="<%= static_path(@conn, "/js/moment.min.js") %>"></script>
    <!-- <script src="moment-timezone.min.js"></script> -->
    <script src="<%= static_path(@conn, "/js/moment-timezone-with-data.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/moment-hijri.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/bootstrap-datetimepicker.min.js") %>"></script>

    <script src="<%= static_path(@conn, "/js/db/timetable.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/db/read_json.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/time.js") %>"></script>

  </body>
</html>
